@import url('/src/index.css');

/*Caja principal*/
.container {
    background: var(--color-primary);
}

.container__navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem 0;
}

/*Caja de logotipo*/
.brand {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: .5rem;
}

.brand__logotipo {
    font-size: 3rem;
    color: var(--color-secundary);
}

.brand__logotipo:hover {
    transform: scale(1.1);
    transition: all 1s ease-in-out;
}

.brand__logotipotext {
    font-family: var(--font-text);
    font-size: 1rem;
    color: var(--color-text);
}

/*Caja de barra de busqueda*/
.search__frm {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: .5rem;
    background: transparent;

}

.search__frm::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: .2rem;
    background: var(--color-secundary);
    transform: scaleX(0);
    transform-origin: center;
    transform-origin: left;
    transition: transform .50s;
}

.search__frm:focus-within::before {
    transform: scale(1);
}

::placeholder {
    color: var(--color-text);
    font-family: var(--font-text);
}

.search__button,
.search__input {
    border: none;
    outline: none;
    background: transparent;
    color: var(--color-secundary);
    font-size: 1rem;
}

.search__input {
    width: 100%;
    padding: .5rem;
}
.search__button {
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: color .50s;
    color: var(--color-text);
}

.search__button:hover {
    color: var(--color-secundary);
}

/*Caja de barra de navegación*/
.nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menu {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menu__item {
    list-style: none;
    display: flex;
    align-items: center;
    column-gap: .1rem;
    font-family: var(--font-text);
    color: var(--color-text);
    margin-left: 1.5rem;
}

.menu__item:hover {
    transform: scale(1.1);
    color: var(--color-secundary);
    transition: all .50s;
}

.btn_toggle__close,
.btn_toggle__menu {
    color: var(--color-text);
    font-size: 2rem;
    cursor: pointer;
    display: none;
}

/*Diseño responsive Mobil */
@media screen and (min-width: 320px) and (max-width: 768px) {

    .search {
        display: none;
    }

    .nav {
        position: fixed;
        background: var(--color-primary);
        width: 100%;
        height: 100%;
        top: 0;
        right: -100%;
        padding: 5vh;
        transition: 0.5s;
        transition-property: right;
    }

    .btn_toggle__close,
    .btn_toggle__menu {
        display: block;
    }

    .btn_toggle__close,
    .btn_toggle__menu:hover {
        color: var(--color-secundary);
    }

    
}

/*Diseño responsive Tablet */
@media screen and (min-width: 769px) and (max-width: 1024px) {

    .search {
        display: none;
    }

    .nav {
        position: fixed;
        background: var(--color-primary);
        width: 100%;
        height: 100%;
        top: 0;
        right: -100%;
        padding: 5vh;
        transition: 0.5s;
        transition-property: right;
    }

    .btn_toggle__close,
    .btn_toggle__menu {
        display: block;
    }

}