@import url('/src/index.css');

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--color-primary);
    padding: .8rem 0;
}

.navbar__brand {
    display: flex;
    column-gap: .5rem;
    align-items: center;
}

.brand__logotipo {
    font-size: 3rem;
    color: var(--color-third);
}

.brand__logotipo:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all 1s;
}

.brand__text {
    text-decoration: none;
    color: var(--color-text);
    font-family: var(--font-primary);
    font-size: 1.2rem;
    font-weight: bold;
}

/*Caja de barra de busqueda*/
.search__frm {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: .5rem;
    background: transparent;

}

.search__frm::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: .2rem;
    background: var(--color-third);
    transform: scaleX(0);
    transform-origin: center;
    transform-origin: left;
    transition: transform .50s;
}

.search__frm:focus-within::before {
    transform: scale(1);
}

::placeholder {
    color: var(--color-text);
    font-family: var(--font-text);
}

.search__button,
.search__input {
    border: none;
    outline: none;
    background: transparent;
    color: var(--color-third);
    font-size: 1rem;
}

.search__input {
    width: 100%;
    padding: .5rem;
}

.search__button {
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: color .50s;
    color: var(--color-text);
}

.search__button:hover {
    color: var(--color-secundary);
}

/*Caja de barra de navegación*/
.menu {
    display: flex;
    align-items: center;
}

.menu__item {
    list-style: none;
    margin-right: 1rem;
}

.menu__link {
    text-decoration: none;
    color: var(--color-text);
    font-family: var(--font-primary);
}

.nav__link:hover {
    cursor: pointer;
    color: var(--color-third);
}

.toogle {
    display: none;
}


/*Diseño responsive Mobil */
@media screen and (min-width: 320px) and (max-width: 768px) {
    /*Caja principal*/
    .navbar {
        padding: .8rem 2rem;
    }

    /*Caja de barra de busqueda*/
    .search {
        display: none;
    }

    /*Caja de barra de navegacion*/
    .menu {
        flex-direction: column;
        width: 100%;
        position: absolute;
        opacity: 0;
    }

    .toogle {
        display: flex;
        color: var(--color-text);
        font-size: 2rem;
    }

    .active {
        background: var(--color-primary);
        opacity: 1;
        transition: all .2s ease-out;
        z-index: 1;
    }
    
}