/* CONFIGURACIÓN --> ESTILOS GLOBAL*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables*/
:root {
  /* Fuentes tipográficas*/
  --font-primary: 'Montserrat', sans-serif;
  --font-text: 'Poppins', sans-serif;
  /* Paleta de colores*/
  --color-primary: #2C3639;
  --color-secundary: #0096FF;
  --color-accent: #7F8487;
  --color-text: #fff;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  font-size: 16px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  html {
    font-size: 12px;
  }
}

/*Diseño responsive Tablet */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  html {
    font-size: 15px;
  }
}